/* .activejoiner-cardbox {
  width: 91%;
  margin: 70px 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: space-between;
}

.activeCard {
  border: 1px solid #EA4232;
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.activejoiner-details {
  display: flex;
  flex-direction: row;
}

.activejoiner-details-one {
  margin-left: 10px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.activejoiner-details-one h4,
.activejoiner-details-one p {
  margin: 0;
  width: 60%;
  font-size: 0.7rem;
  text-align: left;
}

.activejoiner-details-one h4 {
  font-weight: 600;
}

.activeCardImg {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 50%;
} */
