.aboutus-top {
  margin-top: 10vh;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutBox h1 {
  color: #012970;
  border-bottom: 2px solid #012970;
}

.aboutTop {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.aboutTop a {
  text-decoration: none;
  color: #012970;
}

.aboutTop a:hover {
  color: #ea4232;
}

.aboutContent {
  padding: 0 70px;
}

.aboutContentOne p {
  color: #747070;
  margin-top: 20px;
  text-align: justify;
}

.contentTwoBox,
.aboutContentThree {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}

.contentTwoBox p {
  width: 80%;
  color: #747070;
  margin-top: 20px;
  text-align: justify;
}

.contentTwoBox-right,
.aboutContentThree {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.aboutContentThree p {
  width: 60%;
  margin-top: 20px;
  color: #747070;
  text-align: center;
}

/* --------------------------------- */

.our-team-container {
  margin: 50px #747070;
}

.team-members {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0;
}

.team-card {
  height: 60vh;
  width: 25vw;
  margin-bottom: 150px;
}

.team-card img {
  height: 29vh;
}

.team-card h3 {
  margin: 15px 0;
}

.team-card p {
  margin-bottom: 15px;
}

.team-social-media {
  border-top: 2px solid #b1adad;
  margin-top: 35px;
  padding: 20px 0 15px 0;
  display: flex;
  justify-content: space-between;
}

.team-social-media a {
  color: #747070;
  font-size: 1.4rem;
  transition: transform 0.4s ease;
  padding: 5px;
}

.team-social-media a:hover {
  color: #ea4232;
  transform: translateY(-5px);
}

.apiformBox {
  background-color: rgb(245, 245, 245);
  height: 700px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .aboutus-top {
    margin-top: 10vh;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: green;
  }
}