.signinBox {
  margin-top: 75px;
  padding-bottom: 40px;
  height: 90.6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  height: 90.6vh;
}

.signIn-toggle {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.signIn-toggle button {
  border: none;
  border-bottom: 3px solid #afa9a9;
  padding: 5px 5px 5px 0;
  margin-bottom: 30px;
  background-color: transparent;
  color: #afa9a9;
  transition: all 0.3s ease;
  font-size: 1.2rem;
}

.signIn-toggle button:hover {
  cursor: pointer;
}

.signBtn {
  text-align: left;
}

.signIn-toggle .active {
  border: none;
  border-bottom: 3px solid #ea4232;
  background-color: transparent;
  color: #ea4232;
  text-align: left;
}

.left-box {
  background-color: #ea4232;
  height: 90.6vh;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.signin-left img {
  width: 80%;
  height: auto;
}

.signin-left h3 {
  font-size: 1.4rem;
  padding-top: 80px;
  margin-bottom: 15px;
}

.right-form {
  height: 90.6vh;
  width: 60%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right-form-head {
  padding: 30px;
  width: 60%;
}

.right-form-head h2 {
  padding: 5px 0 20px 0;
}

.right-form-head p {
  color: #292731;
}

.right-form-head img {
  height: 40px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  color: #012970;
  font-size: 1rem;
  margin-bottom: 5px;
}

.form-group input {
  padding: 13px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  width: 500px;
}

/* Remove number input spinner by targeting the class */
.input-otp input[type="number"] {
  -webkit-appearance: none; /* Chrome, Safari, Opera */
  -moz-appearance: textfield; /* Firefox */
  appearance: none; /* Generic, for all browsers that support it */
}

/* Ensure the spinner doesn't appear when hovering */
.input-otp input[type="number"]::-webkit-outer-spin-button,
.input-otp input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox workaround */
.input-otp input[type="number"] {
  -moz-appearance: textfield;
}

/* Optional: To prevent the cursor from changing to a number type when focused */
.input-otp input[type="number"]:focus {
  cursor: text;
}

.input-otp {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.input-otp button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 13px 20px;
  background-color: transparent;
  color: #ea4232;
  border: none;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.3s ease;
}

.input-otp button:hover {
  background-color: #ea4232;
  color: #fff;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-btn button {
  margin: 20px 0;
  padding: 12px 50px;
  background-color: #ea4232;
  list-style: none;
  border: none;
  border-radius: 10px;
  color: #fff;
  transition: all 0.3s ease;
}

.login-btn button:hover {
  background-color: #a6271b;
  cursor: pointer;
}

.login-btn p {
  color: #404040;
}

.login-btn a {
  color: #ea4232;
}

