.signinBox {
  margin-top: 75px;
  padding-bottom: 40;
  height: 90.6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  height: 90.6vh;
}

.signIn-toggle {
  display: flex;
}

.signIn-toggle button {
  border: none;
  border-bottom: 4px solid #afa9a9;
  padding: 5px 40px 5px 0;
  margin-bottom: 30px;
  background-color: transparent;
  color: #afa9a9;
  transition: all 0.5s ease;
  font-size: 1.2rem;
}

.signIn-toggle button:hover {
  cursor: pointer;
}

.signBtn {
  text-align: left;
}

.signIn-toggle .active {
  border: none;
  border-bottom: 4px solid #ea4232;
  background-color: transparent;
  color: #ea4232;
  text-align: left;
}

.left-box {
  background-color: #ea4232;
  height: 90.6vh;
  width: 39%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  padding-left: 40px;
}

.signin-left img {
  width: 80%;
}

.signin-left h3 {
  font-size: 1.4rem;
  padding-top: 80px;
  color: #fff;
}

.signin-left p {
  margin: 10px 0;
}

.right-form {
  height: 90.6vh;
  width: 60%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right-form-head {
  padding: 30px;
  width: 59%;
}

.right-form-head h2 {
  padding: 10px 0;
}

.right-form-head p {
  color: #292731;
}

.hello-icon {
  color: #eba352;
  font-size: 1.4rem;
  display: block;
  margin-top: 50px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  color: #012970;
  font-size: 1rem;
  margin-bottom: 5px;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  background-color: #ececec;
  width: 500px;
}

.input-otp {
  justify-content: flex-start;
  position: relative;
}

.input-otp button {
  position: absolute;
  left: 425px;
  top: 0;
  padding: 10px 20px;
  background-color: transparent;
  color: #ea4232;
  border: none;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.3s ease;
}

.input-otp button:hover {
  background-color: #ea4232;
  color: #fff;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-btn button {
  margin: 15px 0;
  padding: 8px 40px;
  background-color: #ea4232;
  border: none;
  border-radius: 10px;
  color: #fff;
  transition: all 0.3s ease;
}

.login-btn button:hover {
  background-color: #a6271b;
}

.login-btn p {
  color: #012970;
}

.login-btn a {
  color: #ea4232;
}
