.signup-box {
  margin-top: 75px;
  /* padding-bottom: 40px; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* background-color: #d6dea4; */
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin: 20px 0; */
  height: 100vh;
}

.leftBox {
  /* margin-top: 15vh; */
  background-color: #ea4232;
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.signup-left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 60px;
}

.signup-left img {
  width: 75%;
  height: auto;
}

.signup-left h3 {
  font-size: 1.4rem;
  padding-top: 80px;
  color: #fff;
  margin-bottom: 15px;
}

.signUpRight {
  margin-top: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUp-toggle {
  /* margin-top: 20px; */
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.signUp-toggle button {
  border: none;
  border-bottom: 3px solid #afa9a9;
  padding: 5px 5px 5px 0;
  margin-bottom: 30px;
  background-color: transparent;
  color: #afa9a9;
  transition: all 0.3s ease;
  font-size: 1.2rem;
}

.signUp-toggle button:hover {
  cursor: pointer;
}

.signUpBtn {
  text-align: left;
}

.signUp-toggle .active {
  border-bottom: 3px solid #ea4232;
  color: #ea4232;
}

/* Remove number input spinner by targeting the class */
.send-otp input[type="number"] {
  -webkit-appearance: none; /* Chrome, Safari, Opera */
  -moz-appearance: textfield; /* Firefox */
  appearance: none; /* Generic, for all browsers that support it */
}

/* Ensure the spinner doesn't appear when hovering */
.send-otp input[type="number"]::-webkit-outer-spin-button,
.send-otp input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox workaround */
.send-otp input[type="number"] {
  -moz-appearance: textfield;
}

/* Optional: To prevent the cursor from changing to a number type when focused */
.send-otp input[type="number"]:focus {
  cursor: text; /* Keeps the cursor as text */
}


.rightForm {
  /* background-color: #b5dcc4; */
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.empyr-loca {
  /* margin-top: 10px; */
}

.signUpform {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signUpform h2 {
  margin: 0;
  padding-bottom: 20px;
}

.formCols {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  width: 100%;
}

.signUpform-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.signUpform-group label {
  color: #404040;
  font-size: 1rem;
  margin-bottom: 5px;
}

.signUpform-group input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  width: 270px;
}

.send-otp {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.send-otp input {
  flex: 1;
  padding-right: 125px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.send-otp button {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 5px 7px;
  color: #ea4232;
  border: none;
  font-size: 0.7rem;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.send-otp button:hover {
  background-color: #ea4232;
  color: #fff;
  border-color: #c12719;
}

.immBtn {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.immediate-check {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 7px 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.immediate-check input:hover {
  cursor: pointer;
}

.immediate-check input[type="radio"]:checked {
  accent-color: #ea4232;
}

.checkBox {
  display: flex;
  gap: 15px;
  padding: 5px;
}

.checkBox input[type="checkbox"]:checked {
  accent-color: #ea4232;
}

.checkBox input:hover {
  cursor: pointer;
}

.register-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.register-btn button {
  padding: 15px 50px;
  background-color: #ea4232;
  margin-top: 30px;
  border: none;
  border-radius: 10px;
  color: #fff;
  transition: all 0.3s ease;
}

.register-btn button:hover {
  background-color: #c12719;
  cursor: pointer;
}

.register-btn p {
  color: #404040;
}

.register-btn a {
  color: #ea4232;
  text-decoration: none;
}

.register-btn a:hover {
  text-decoration: underline;
}





.dropdown select {
  /* font-size: 15px; */
  color: #404040;
  padding: 8px 12px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  /* margin: 5px 0 20px; */
  position: relative;
  z-index: 10;
}

.p-dropdown {
  border: 0.5px solid #ddd;
  background-color: #fff;
  border-radius: 8px;
  font-size: .8rem;
  width: 100%;
  padding: 10px 12px 10px 12px;
  color: #404040;
}

.p-dropdown-trigger {
  display: none;
}

.p-dropdown-panel {
  margin-top: 5px 0;
  border-radius: 8px;
  padding: 5px 15px;
  font-size: 14px;
  color: #404040;
  border: 0.5px solid #ddd;
  background-color: #ffffff !important;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
}

/* .dropdown-optns {
  margin-top: 30px;
}

.dropdown-optns input {
  margin-top: 5px;
} */

.dropdown-main {
  margin-top: 25px;
}

.dropdown-main label {
  margin-bottom: 5px;
}